<!DOCTYPE html>
<html lang="pl-PL">
<head>
	<title>Live Chat</title>
	<meta charset="UTF-8">
	<meta name="author" content="Mikolaj Kulesz">
	<meta name="description" content="This is an example of a meta description. This will often show up in search results.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<script defer type="text/javascript" src="js/lib/requirejs/require.js"></script>
	<script defer type="text/javascript" src="js/config.js"></script>
</head>
<body>

	<nav class="mobilemenuBlock">
		<ul>
			<li><a href="#">Our Gests</a>
				<ul>
					<li><a href="#">social media</a></li>
					<li><a href="#">customer service</a></li>
					<li><a href="#">sales</a></li>
					<li><a href="#">technology</a></li>
					<li><a href="#">marketing</a></li>
				</ul>
			</li>
			<li><a href="#">Categories</a>
				<ul>
					<li><a href="#">social media</a></li>
					<li><a href="#">customer service</a></li>
					<li><a href="#">sales</a></li>
					<li><a href="#">technology</a></li>
					<li><a href="#">marketing</a></li>
				</ul>
			</li>
			<li><a href="#">Stitcher</a>
				<ul>
					<li><a href="#">social media</a></li>
					<li><a href="#">customer service</a></li>
					<li><a href="#">sales</a></li>
					<li><a href="#">technology</a></li>
					<li><a href="#">marketing</a></li>
				</ul>
			</li>
			<li><a href="#">Itunes</a>
				<ul>
					<li><a href="#">social media</a></li>
					<li><a href="#">customer service</a></li>
					<li><a href="#">sales</a></li>
					<li><a href="#">technology</a></li>
					<li><a href="#">marketing</a></li>
				</ul>
			</li>
		</ul>
	</nav>


	<header class="headerBlock">
		<div class="blockContainer">

			<div class="topBar">
				<div class="navBox">
					<a class="logo" href="#" title="livechat podcast" data-name="podcast"></a>

					<nav>
						<ul>
							<li><a href="#">Our Gests</a>
								<ul>
									<li><a href="#">social media</a></li>
									<li><a href="#">customer service</a></li>
									<li><a href="#">sales</a></li>
									<li><a href="#">technology</a></li>
									<li><a href="#">marketing</a></li>
								</ul>
							</li>
							<li><a href="#">Categories</a>
								<ul>
									<li><a href="#">social media</a></li>
									<li><a href="#">customer service</a></li>
									<li><a href="#">sales</a></li>
									<li><a href="#">technology</a></li>
									<li><a href="#">marketing</a></li>
								</ul>
							</li>
							<li><a href="#">Stitcher</a>
								<ul>
									<li><a href="#">social media</a></li>
									<li><a href="#">customer service</a></li>
									<li><a href="#">sales</a></li>
									<li><a href="#">technology</a></li>
									<li><a href="#">marketing</a></li>
								</ul>
							</li>
							<li><a href="#">Itunes</a>
								<ul>
									<li><a href="#">social media</a></li>
									<li><a href="#">customer service</a></li>
									<li><a href="#">sales</a></li>
									<li><a href="#">technology</a></li>
									<li><a href="#">marketing</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>

				<div class="keepintouchButtons">
					<a href="#" class="btn sub">Subscribe</a>
					<a href="#" class="btn rss"></a>
				</div>

				<button class="openMobileMenu"></button>
			</div>

			<div class="audioBox">
				<iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/165895349&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			</div>
			
		</div>
	</header>

	<article class="detailContentBlock">
		<h1>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, mollitia, debitis! Facere eaque fugit quis, quos, saepe perferendis ipsam facilis ipsa modi cum itaque vel cupiditate optio quod iste, earum."</h1>
		
		<div class="shareBox">
			<h3>Share:</h3>
			<ul>
				<li class="tw"><a href="#"></a></li>
				<li class="fb"><a href="#"></a></li>
				<li class="in"><a href="#"></a></li>
				<li class="gp"><a href="#"></a></li>
			</ul>
		</div>

		<div class="learnBox">
			<h2>From this episone, you will learn</h2>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque rerum quod recusandae earum molestiae.</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque rerum quod recusandae earum molestiae.</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque rerum quod recusandae earum molestiae.</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque rerum quod recusandae earum molestiae.</li>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque rerum quod recusandae earum molestiae.</li>
			</ul>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, numquam necessitatibus dicta inventore non hic officia. Vero fugiat, quod minima quam obcaecati itaque totam, corporis. Porro eaque odit placeat excepturi.
				<br>
				<br><strong>Enjoy!</strong>
			</p>
		</div>

		<div class="guestBox">
			<h2>Today's gest</h2>
			<div class="guest">
				<div class="photoBox">
					<div class="photo"></div>
				</div>
				<div class="infoBox">
					<h3>Bartosz Góralewicz</h3>
					<p>
						<strong>Lorem ipsum</strong> dolor sit amet, consectetur <strong>adipisicing</strong> elit. Tempore tempora tenetur impedit architecto vel voluptas maiores laboriosam magnam, quisquam nisi, temporibus ea asperiores neque sit ipsam eligendi unde repudiandae repellendus.
					</p>				
				</div>
			</div>
		</div>

		<div class="transcriptBox">
			<h2>Transcript</h2>
			<div class="content">
				<p>Hi guys!</p>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint odio, tempora consequuntur natus, qui minima assumenda molestias dolorem harum enim, nisi numquam eum accusantium hic aperiam impedit? Repudiandae, ad, quidem.
				</p>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint odio, tempora consequuntur natus, qui minima assumenda molestias dolorem harum enim, nisi numquam eum accusantium hic aperiam impedit? Repudiandae, ad, quidem.
				</p>
				<hr>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit?
				</p>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint odio, tempora consequuntur natus, qui minima assumenda molestias dolorem harum enim, nisi numquam eum accusantium hic aperiam impedit? Repudiandae, ad, quidem.
				</p>
				<p>
				<strong>Alicja: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint odio, tempora consequuntur natus, qui minima assumenda molestias dolorem harum enim, nisi numquam eum accusantium hic aperiam impedit? Repudiandae, ad, quidem.
				</p>
				<p>
				<strong>Me: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint odio, tempora consequuntur natus, qui minima assumenda molestias dolorem harum enim, nisi numquam eum accusantium hic aperiam impedit? Repudiandae, ad, quidem.
				</p>
				<p>
				<strong>Alicja: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint odio, tempora consequuntur natus, qui minima assumenda molestias dolorem harum enim, nisi numquam eum accusantium hic aperiam impedit? Repudiandae, ad, quidem.
				</p>
			</div>
		</div>

		<div class="hashtagBox">
			<a href="#">customer feadback</a>
			<a href="#">customer feadback</a>
			<a href="#">customer feadback</a>
		</div>

		<div class="shareBox">
			<h3>Share:</h3>
			<ul>
				<li class="tw"><a href="#"></a></li>
				<li class="fb"><a href="#"></a></li>
				<li class="in"><a href="#"></a></li>
				<li class="gp"><a href="#"></a></li>
			</ul>
		</div>

		<div class="relatedBox">
			<h2>You may also like</h2>
			<ul>
				<li>
					<p class="desc">
						<a href=""><strong>Episede #2: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
					</p>
					<time>
						22:43
					</time>
				</li>
				<li>
					<p class="desc">
						<a href=""><strong>Episede #2: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
					</p>
					<time>
						22:43
					</time>
				</li>
				<li>
					<p class="desc">
						<a href=""><strong>Episede #2: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
					</p>
					<time>
						22:43
					</time>
				</li>
			</ul>
		</div>

	</article>

	<section class="commentsBlock">
		<!-- Disqus plugin -->
		<h2>Disqus plugin</h2>
	</section>

	<section class="trylivechatBlock">
		<h2>Try LiveChat in your online store!</h2>
		<p>5 minute setup, test out the Team features for 30 days, no credit card required.</p>
		<form action="#">
			<input type="text" placeholder="Full name">
			<input type="text" placeholder="Email">
			<input type="text" placeholder="Password">
			<button>Start my free trial</button>
		</form>
	</section>

	<footer class="footerBlock">
		<div class="smBox">
			<ul>
				<li class="tw"><a href="#"></a></li>
				<li class="fb"><a href="#"></a></li>
				<li class="in"><a href="#"></a></li>
				<li class="gp"><a href="#"></a></li>
			</ul>
		</div>
		<div class="btnBox">
			<a class="btn itunes"		href="#">iTunes</a>
			<a class="btn soundcloud"	href="#">SoundCloud</a>
			<a class="btn sticher" 		href="#">Sticher</a>
			<a class="btn rss" 			href="#"></a>
		</div>
		<div class="subBox">
			<div class="container">
				<input type="text" placeholder="type your mail...">
				<button>ok</button>
			</div>
		</div>
	</footer>

</body>
</html>