<!DOCTYPE html>
<html lang="pl-PL">
<head>
	<title>Live Chat</title>
	<meta charset="UTF-8">
	<meta name="author" content="Mikolaj Kulesz">
	<meta name="description" content="This is an example of a meta description. This will often show up in search results.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<script defer type="text/javascript" src="js/coffee.js"></script>
	<script defer type="text/javascript" src="js/scriptES6.js"></script>
	<script defer type="text/javascript" src="js/scriptES5.js"></script>
</head>
<body>

	<nav class="mobilemenuBlock">
		<ul>
			<li><a href="#">Our Gests</a>
				<ul>
					<li><a href="#">social media</a></li>
					<li><a href="#">customer service</a></li>
					<li><a href="#">sales</a></li>
					<li><a href="#">technology</a></li>
					<li><a href="#">marketing</a></li>
				</ul>
			</li>
			<li><a href="#">Categories</a>
				<ul>
					<li><a href="#">social media</a></li>
					<li><a href="#">customer service</a></li>
					<li><a href="#">sales</a></li>
					<li><a href="#">technology</a></li>
					<li><a href="#">marketing</a></li>
				</ul>
			</li>
			<li><a href="#">Stitcher</a>
				<ul>
					<li><a href="#">social media</a></li>
					<li><a href="#">customer service</a></li>
					<li><a href="#">sales</a></li>
					<li><a href="#">technology</a></li>
					<li><a href="#">marketing</a></li>
				</ul>
			</li>
			<li><a href="#">Itunes</a>
				<ul>
					<li><a href="#">social media</a></li>
					<li><a href="#">customer service</a></li>
					<li><a href="#">sales</a></li>
					<li><a href="#">technology</a></li>
					<li><a href="#">marketing</a></li>
				</ul>
			</li>
		</ul>
	</nav>

	<header class="headerBlock">
		<div class="blockContainer">

			<div class="topBar">
				<div class="navBox">
					<a class="logo" href="#" title="livechat podcast" data-name="podcast"></a>

					<nav>
						<ul>
							<li><a href="#">Our1 2Gests</a>
								<ul>
									<li><a href="#">social media</a></li>
									<li><a href="#">customer service</a></li>
									<li><a href="#">sales</a></li>
									<li><a href="#">technology</a></li>
									<li><a href="#">marketing</a></li>
								</ul>
							</li>
							<li><a href="#">Categories</a>
								<ul>
									<li><a href="#">social media</a></li>
									<li><a href="#">customer service</a></li>
									<li><a href="#">sales</a></li>
									<li><a href="#">technology</a></li>
									<li><a href="#">marketing</a></li>
								</ul>
							</li>
							<li><a href="#">Stitcher</a>
								<ul>
									<li><a href="#">social media</a></li>
									<li><a href="#">customer service</a></li>
									<li><a href="#">sales</a></li>
									<li><a href="#">technology</a></li>
									<li><a href="#">marketing</a></li>
								</ul>
							</li>
							<li><a href="#">Itunes</a>
								<ul>
									<li><a href="#">social media</a></li>
									<li><a href="#">customer service</a></li>
									<li><a href="#">sales</a></li>
									<li><a href="#">technology</a></li>
									<li><a href="#">marketing</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>

				<div class="keepintouchButtons">
					<a href="#" class="btn sub">Subscribe</a>
					<a href="#" class="btn rss"></a>
				</div>

				<button class="openMobileMenu"></button>
			</div>

<!-- 			<div class="audioBox">
	<iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/165895349&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</div> -->
		</div>


	</header>

	<section class="maininfoBlock">
		<h1>What is Business Sidekick</h1>
		<p>
			This podcast was created to share the knowledge we've gained, here at <strong>LiveChat</strong>, during our journey. We've started as a small, garage start-up to become one of
			live chat leaders, so - as you can guess - we have lots of knowledge to share with you! You will find it all in this podcast series and I hope you'll like it. 
			Get ready for tips and tricks on how to grow your online business <strong>Enjoy</strong>!
		</p>
	</section>

	<section class="episodesBlock">
		<div class="mainBar">
			<h2>PREVIOUS EPISODES</h2>
			<div class="layoutSwitchBtton">
				<div class="btn switch" id="switchBtn" data-label="Change view"></div>
			</div>
		</div>

		<div class="episodesListRows" id="episodesList">
			<ul>
				<li>
					<div class="photoBox" >
						<a href="#"></a>
					</div>
					<div class="infoBox">
						<div class="mainInfo" data-duration="22:43">
							<h4><a href="#">Episode#1</a></h4>
							<h3><a href="#">MARKET RESEARCH</a></h3>
							<time datetime="2016-03-10"><a href="#">March 10, 2016</a></time>
						</div>
						<p>
							<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere accusamus earum cum quibusdam quasi voluptatem quod voluptates quisquam, ducimus laborum unde consequuntur totam, reprehenderit eveniet ex impedit praesentium laudantium quo.</a>
						</p>
						<p>
							in <strong>Marketing</strong>
						</p>
					</div>
				</li>

				<li>
					<div class="photoBox" >
						<a href="#"></a>
					</div>
					<div class="infoBox">
						<div class="mainInfo" data-duration="22:43">
							<h4><a href="#">Episode#1</a></h4>
							<h3><a href="#">MARKET RESEARCH</a></h3>
							<time datetime="2016-03-10"><a href="#">March 10, 2016</a></time>
						</div>
						<p>
							<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere accusamus earum cum quibusdam quasi voluptatem quod voluptates quisquam, ducimus laborum unde consequuntur totam, reprehenderit eveniet ex impedit praesentium laudantium quo.</a>
						</p>
						<p>
							in <strong>Marketing</strong>
						</p>
					</div>
				</li>

				<li>
					<div class="photoBox" >
						<a href="#"></a>
					</div>
					<div class="infoBox">
						<div class="mainInfo" data-duration="22:43">
							<h4><a href="#">Episode#1</a></h4>
							<h3><a href="#">MARKET RESEARCH</a></h3>
							<time datetime="2016-03-10"><a href="#">March 10, 2016</a></time>
						</div>
						<p>
							<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere accusamus earum cum quibusdam quasi voluptatem quod voluptates quisquam, ducimus laborum unde consequuntur totam, reprehenderit eveniet ex impedit praesentium laudantium quo.</a>
						</p>
						<p>
							in <strong>Marketing</strong>
						</p>
					</div>
				</li>
			</ul>
		</div>

		<div class="loadMore">
			<div class="btn">Load more</div>
		</div>
	</section>

	<section class="authorBlock">
		<div class="mainBar">
			<h2>About the author</h2>
		</div>
		<div class="authorBox">
			<div class="photoBox">
				<div class="photo"></div>
			</div>
			<div class="infoBox">
				<h3>Justyna Polaczyk</h3>
				<p>
					Hi, it's Justyna, LiveChat content writer and marketer. I used to work as a radio presenter for a couple of years so I'm happy to make a use of it here, in Business Sidekick. I hope you'll like the way I present podcast topics, I also hope you'll enjoy my sense of humor! 
				</p>
				<div class="socialContact">
					<h4>Follow me on:</h4>
					<ul>
						<li class="tw"><a href="#"></a></li>
					</ul>
				</div>
				
			</div>
		</div>
	</section>

	<section class="poweredbyBlock">
		<div class="layout">
			<div class="mainBar">
				<h2>POWERED BY LIVECHAT</h2>
			</div>
			<div class="contentBox">
				<img src="images/svg/logo.svg" alt="LiveChat">
				<p>Thanks to <strong>LiveChat</strong> you can be in touch with your website visitors every time when they need your help. As opposed to a phone, it lets you to start chats with your visitors, monitor their behaviour and measure your success. It's not only a communication tool, it's a professional e-commerce tool. <strong>Learn more!</strong></p>
				<img src="images/about.png" alt="LiveChat">
			</div>
		</div>
	</section>

	<section class="trylivechatBlock">
		<h2>Try LiveChat in your online store!</h2>
		<p>5 minute setup, test out the Team features for 30 days, no credit card required.</p>
		<form action="#">
			<input type="text" placeholder="Full name">
			<input type="text" placeholder="Email">
			<input type="text" placeholder="Password">
			<button>Start my free trial</button>
		</form>
	</section>

	<footer class="footerBlock">
		<div class="smBox">
			<ul>
				<li class="tw"><a href="#"></a></li>
				<li class="fb"><a href="#"></a></li>
				<li class="in"><a href="#"></a></li>
				<li class="gp"><a href="#"></a></li>
			</ul>
		</div>
		<div class="btnBox">
			<a class="btn itunes" href="#">iTunes</a>
			<a class="btn soundcloud" href="#">SoundCloud</a>
			<a class="btn sticher" href="#">Sticher</a>
			<a class="btn rss" href="#"></a>
		</div>
		<div class="subBox">
			<div class="container">
				<input type="text" placeholder="type your mail...">
				<button>ok</button>
			</div>
		</div>
	</footer>

</body>
</html>