doctype html
html
  head
    title my jade template
    script(src='https://code.jquery.com/jquery-3.2.1.js' integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=' crossorigin='anonymous')
    script(src='js/scriptES6.js')
  body
    h1 My Site
    h2 Subtitle
    p Welcome to my super lame site.